/[if lt IE 9]
  <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
= stylesheet_link_tag '1140_CssGrid/css/1140.css', :media => 'screen'
= stylesheet_link_tag '1140_CssGrid/css/print',  :media => 'print'
= stylesheet_link_tag 'custom', :media => 'screen'
/[if lt IE 8]
  = stylesheet_link_tag '1140_CssGrid/css/ie'

<script type="text/javascript" src="js/css3-mediaqueries.js"></script>
