%h1 Soccer Manager
%p
  This is the home page for the
  %a{:title => "Rails Tutorial", :href => "http://railstutorial.org/Book", :target => "_blank"} Soccer Manager


  =link_to "Sign up now!", signup_path, :class => "signup_button round"

